.cart_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cart_header {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.cart_header h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    color: #212121;
}

.cart_header p {
    font-size: 13px;
    color: #999;
    line-height: 17px;
    margin-left: 12px;
}

.cart-blocks {
    width: 52%;
    height: 30px;
}

.cart-item {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-box-shadow: 0px 0px 7px -3px rgba(60, 60, 60, 0.19);
    -moz-box-shadow: 0px 0px 7px -3px rgba(60, 60, 60, 0.19);
    box-shadow: 0px 0px 7px -3px rgba(60, 60, 60, 0.19);
}

.cart-item__img {
    padding: 5px;
}

.cart-item__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #21201f;
}

.text {
    width: 75%;
}

.cart-item__right {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.price span {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #21201f;
}

.price small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.remove {
    display: inline-flex;
    color: #1b52b2;
    margin-left: 4px;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}



.right {
    margin-top: 110px;
    width: 25%;
}

.infoOrder {
    background-color: #f8f7f5;
    padding: 25px 10px;
    border-radius: 20px;
    margin-top: 20px;
}

.infoOrder-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.infoOrder h3 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #212121;
}

.infoOrder span {
    font-size: 28px;
    line-height: 31px;
    color: #212121;
    font-weight: 500;
}

.bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-text span {
    font-size: 13px;
    color: #212121;
    font-weight: 400;
}
