.container {
    width: 1530px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-data__title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}

.product-info {
    display: flex;
    margin-top: 30px;
}

.product-info img {
    margin: 0;
    height: 450px;
}

.product-description {
    margin-left: 20px;
}

.product-description h4 {
    font-weight: 500;
    font-size: 17px;
    margin-top: 35px;
}

.product-description__item {
    margin-top: 15px;
    line-height: 21px;
}

.product-description__item p {
    font-weight: 300;
    font-size: 16px;
    color: #878787;
}

.product-description__item span {
    font-weight: 400;
    color: #403f3f;
}

.addCart-wrapper {
    padding: 10px;
    width: 350px;
    margin-top: 150px;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(221, 221, 221, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(221, 221, 221, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(221, 221, 221, 0.2);
}

.addCart-wrapper__container {
    width: 85%;
    margin: 0 auto;
}

.addCart-wrapper__container a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    color: #04b;
}

.addCart-wrapper h3 {
    color: #222;
    font-weight: 700;
    font-size: 32px;
    padding-top: 20px;
    text-align: center;
}

.addCart-wrapper button {
    padding: 15px 0;
    width: 100%;
    background-color: #ffd426;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    color: #222;

    margin-top: 20px;
    margin-bottom: 10px;
}

.description-block {
    width: 50%;
    margin-top: 15px;
    padding-bottom: 30px;
}

.description-block h3 {
    font-weight: 500;
    font-size: 30px;
}

.description-block p {
    color: #2b2b2b;
    font-size: 16px;
    margin-top: 10px;
}

.is-reviews {
    padding-bottom: 20px;
}

.is-reviews__container {
    width: 1530px;
    margin: 0 auto;
}

.is-reviews-header {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-reviews-header__title {
    font-weight: 500;
    font-size: 30px;
}

.is-reviews-header__title span {
    color: #878787;
}

.is-reviews-header__btn {
    background-color: #ffd500;
    padding: 13px 10px;
    border-radius: 5px;
    color: #404040;
    font-size: 13px;
    transition: all 0.2s ease-out;
}

.is-reviews-header__btn:hover {
    background-color: #edc009;
}
