.container {
    width: 1530px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    width: 100%;
    margin-top: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 87%;
}

.product {
    margin-top: 35px;
}

.product img {
    height: 200px;
    margin: 0 auto;
    display: block;
}

.product-price {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-top: 8px;
}

.product-title {
    font-weight: 300;
    font-size: 13px;
    color: #000;
    margin-top: 8px;
}

.product-btn {
    width: 100%;
    background: #FDD200;
    border-radius: 3px;
    padding: 9px 0;

    font-weight: 500;
    font-size: 15px;
    color: #000;
    margin-top: 20px;
    transition: all 0.3s ease-out;
}

.product-btn:hover {
    transform: scale(1.1);
}

.productIsMissing {
    margin: 0 auto;
    padding-top: 100px;
}

.productIsMissing__h3 {
    color: #212121;
    font-size: 20px;
    line-height: 24px;
}

.productIsMissing__a {
    color: #04b;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    display: block;
}
